<div class="container-fluid">
  <div class="row">
    <% if logged_in %>
      <%= react_component('Home', { feeds: feeds ,user: current_user}) %>
    <% else %>
      <div class="col-md-6 col-md-offset-3" style="padding : 50px;">
        <h1>Welcome to Feeds !</h1>
        <a href="/signup"><button class="btn btn-primary btn-lg">Signup Now !</button></a>
      </div>
    <% end %>
  </div>
</div>