 <!-- Footer -->
<footer id="myFooter">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
                <h4 class="logo"><a href="#"> Feeds <i class="fa fa-pencil-square-o"></i></a></h4>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <p><strong>Get started</strong></p>
                <ul>
                    <li><a href="/"><p>Home</p></a></li>
                    <li><a href="#features"><p>Features</p></a></li>
                    <li><a href="#steps"><p>Why Feeds?</p></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <p><strong>About Us</strong></p>
                <ul>
                    <li><a href="#"><p>Feeds.com</p></a></li>
                    <li><a href="#"><p>Developed By- Abhijeet Juneja</p></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3">
                <div class="social-networks">
                    <a href="https://www.linkedin.com/in/abhijeet-juneja-b7513ba1" class="twitter" target="_blank"><i class="fa fa-linkedin" ></i></a>
                    <a href="https://www.facebook.com/abhijeet.juneja" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.github.com/abhijeetjuneja" class="google" target="_blank"><i class="fa fa-github"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p> Feeds ©2018 Abhijeet Juneja </p>
    </div>
</footer>