<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Feeds</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in %>
        <li><a href="/profile"><span class="glyphicon glyphicon-log-in">&nbsp;<%= current_user.name %></span></a></li>
        <li><a href="/logout" method="delete"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <% else %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>
      
    </ul>
  </div>
</nav>